<div *ngIf="cocktail">
    <div class="row align-items-center">
        <div class="col-4">
            <img [src]="cocktail.image" [alt]="cocktail.name" style="max-height: 150px;" class="img-fluid">
        </div>
        <h3 class="col-8"> {{cocktail.name}} </h3>
    </div>
    <hr>
    <div class="row">
        <p class="col-12">
            {{cocktail.description}}
        </p>
    </div>
    <div class="row">
        <ul class="list-group col mx-5 mb-5">
            <li *ngFor="let ingredient of cocktail.ingredients" class="list-group-item list-group-item-action d-flex justify-content-between">
                <span>{{ingredient.name}}</span>
                <span class="badge badge-secondary badge-pill">{{ingredient.quantity}}oz</span>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-info" [routerLink]="getUrl()">Editer le cocktail</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary ml-auto" (click)="addToCard()"> Ajouter au panier</button>
        </div>
    </div>
</div>